<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/assets/img/logo.png" class="img-responsive" style="height: 150px;" />
            </div>
            <div class="col-md-3">
                <h4>Fórum</h4>
                <ul>
                    <li>Categorias</li>
                    <li>Posts Recentes</li>
                    <li>Membros</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Site</h4>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>Artigos</li>
                    <li>Sobre Nós</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Aulas</h4>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Frameworks</li>
                    <li>Javascript</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" align="center">
                <p id="social-buttons">
                    <i class="fa fa-facebook-official fa-fw"></i>
                    <i class="fa fa-youtube-play fa-fw"></i>
                    <i class="fa fa-slack fa-fw"></i>
                </p>
            </div>
        </div>
    </div>
</footer>