<header class="container-fluid" align="center">
    <div id="header-background"></div>
    <nav id="navbar">
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ul id="navbar-right">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Aulas</a>
                    </li>
                    <!--<li>
                        <a href="#">Sobre</a>
                    </li>
                    <li>
                        <a href="#">Contato</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div id="header-content" class="col-xs-12" align="center">
            <img id="logo" src="/assets/img/logus-logo.png" class="img-responsive">
            <h1>Hora de descobrir um novo mundo.</h1>
            <p>Que tal parar de pensar só em desktop e ter algumas aulas sobre desenvolvimento web? Afinal, a web é futuro.
                <br>Te daremos o empurrão inicial, para grandes passos seus que podem estar por vir.</p>
            <button type="button" id="go-to-class">Me dê as aulas logo!</button>
        </div>
    </div>

    <div id="know-more">
        <img src="/assets/img/arrow-down.png" class="img-responsive">
        <p>Conheça mais sobre a Logus</p>
    </div>

</header>